<!-- CTA -->
<section class="relative py-24 ~px-4/8 bg-gray-900 z-10">
	<div class="container m-auto flex flex-col items-center gap-8">
		<div class="flex flex-col gap-4 max-w-2xl">
			<div class="flex flex-col gap-1 text-center">
				<span class="text-primary">Spolupráce</span>
				<h2 class="text-3xl text-white font-semibold">Jste připraveni navázat spolupráci?</h2>
			</div>
			<p class="font-work-sans text-center text-lg text-gray-200">
				Hledáte spolehlivého partnera pro přepravu vašeho nákladu? Kontaktujte nás ještě dnes a my vám připravíme řešení na míru.
				Získáte férové ceny, profesionální přístup a jistotu kvalitně odvedené práce.
			</p>
		</div>

		<!-- CTA BUTTON -->
		<a class="group relative flex items-center gap-3 p-1.5 pr-5 bg-primary text-white font-semibold leading-none uppercase rounded-full z-10 overflow-hidden
			before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gray-800 dark:before:bg-blue-800 before:-z-10
			before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100" href="/kontakt">
			<div class="relative p-2.5 bg-gray-800 rounded-full transition-colors duration-200 delay-100 group-hover:bg-gray-950">
				<img src="/assets/svgs/contact/telephone-fill.svg" alt="Ikona telefonu" decoding="async" loading="eager" width="16" height="16" draggable="false"/>
			</div>
			<span>Kontaktujte nás</span>
		</a>
	</div>

	<!-- BACKGROUND -->
	<img class="absolute top-0 left-0 h-full w-full object-cover opacity-20 -z-10" src="/assets/svgs/cta/cta_background.svg" alt="Pozadí sekce CTA" decoding="async" loading="lazy" width="1920" height="24" draggable="false"/>
</section>