<!-- NAVIGATION -->
<header class="fixed ~top-4/8 left-1/2 -translate-x-1/2 w-[calc(100%-2rem)] max-w-5xl py-4 px-7 bg-white dark:bg-gray-950 ring-2 ring-primary/50 rounded-xl z-50
  transition-[width,max-width,transform] duration-300 group-[&.scroll]/body:w-full group-[&.scroll]/body:max-w-full group-[&.scroll]/body:~-translate-y-4/8
  group-[&.scroll]/body:rounded-none group-[&.scroll]/body:shadow-lg">
  <div class="max-w-[96rem] m-auto flex justify-between items-center">
    <!-- NAVIGATION LOGO -->
    <a
        aria-label="Kliknutím přejdete na domovskou stránku"
        href="/">
      <img
          class="h-8 w-auto dark:hidden"
          decoding="async"
          loading="eager"
          src="/assets/svgs/bvspeed_logo_black.svg"
          alt="BV Speed - logo"
          width="110"
          height="30">

      <img
          class="hidden dark:block h-8 w-auto"
          decoding="async"
          loading="eager"
          src="/assets/svgs/bvspeed_logo_white.svg"
          alt="BV Speed - logo"
          width="110"
          height="30">
    </a>

    <!-- NAVIGATION -->
    <nav class="hidden lg:flex justify-center whitespace-nowrap">
      <ul class="flex gap-8">
        {% set navPages = collections.all | eleventyNavigation %}

        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
        {% for entry in navPages %}

          {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
          {% set hasChild = entry.children.length %}
          <li
                class="group relative flex items-center{% if hasChild %} dropdown{% endif %}"
                {% if hasChild %}
                tabindex="0"
                {% endif %}>
            <a
                  href="{{ entry.url }}"
                  class="py-2 text-sm text-gray-800 dark:text-gray-200 uppercase font-medium
                  {% if entry.url == page.url or entry.title | lower in page.url %} text-primary dark:text-primary
                  {% else %} transition-colors duration-300 hover:text-primary{% endif %}"
                  {% if entry.url == page.url or entry.title | lower in page.url %}
                  aria-current="page"
                  {% endif %}>
              {{ entry.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <!-- CTA + DARKMODE BUTTON -->
    <div class="flex items-center gap-6">
      <!-- CTA BUTTON -->
      <a class="hidden lg:block relative px-6 py-2.5 bg-primary text-white font-semibold leading-none uppercase rounded-full z-10 overflow-hidden
        before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gray-800 dark:before:bg-blue-800 before:-z-10
        before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
        href="/kontakt">
          Kontaktujte nás
        </a>

      <!-- DARKMODE BUTTON -->
      <label for="darkmode-switch" class="darkmode-container">
        <span class="sr-only">Přepínač tmavého režimu</span>
        <input id="darkmode-switch" type="checkbox">
        <span class="planet"></span>
        <span class="elements">
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
        </span>
      </label>
      <!-- MOBILE MENU BUTTON -->
      <div class="flex lg:hidden">
        <button
            class="group flex justify-center items-center gap-1 h-11 w-11 bg-primary rounded-lg transition-transform duration-300 [&.clicked]:rotate-90"
            type="button"
            id="hamburger-menu"
            aria-expanded="false">
          <span class="sr-only">Otevřít navigaci</span>
          <div class="relative h-4 w-6">
            <span class="absolute top-0 block h-0.5 w-full bg-white rounded-full transition-transform duration-300 group-[.clicked]:rotate-45 group-[.clicked]:top-1/2 group-[.clicked]:-translate-y-1/2 group-[.clicked]:left-1/2 group-[.clicked]:-translate-x-1/2"></span>
            <span class="absolute top-1/2 -translate-y-1/2 block h-0.5 w-full bg-white rounded-full transition-[opacity] duration-300 group-[.clicked]:opacity-0"></span>
            <span class="absolute bottom-0 block h-0.5 w-full bg-white rounded-full transition-transform duration-300 group-[.clicked]:rotate-[315deg] group-[.clicked]:top-1/2 group-[.clicked]:-translate-y-1/2 group-[.clicked]:left-1/2 group-[.clicked]:-translate-x-1/2"></span>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- MOBILE MENU -->
  <nav class="absolute top-[calc(100%+0.5rem)] left-1/2 -translate-x-1/2 lg:!hidden w-[95%] py-4 bg-white dark:bg-gray-900 ring-2 ring-primary rounded-xl shadow
  transition-[opacity,transform] origin-top duration-300 delay-150 scale-y-0 group-[.mobile-menu]/body:scale-y-100 opacity-0 group-[.mobile-menu]/body:opacity-100"
  id="mobile-menu">
    <ul>
      {%- for entry in navPages %}
        <li>
          <a
            href="{{ entry.url }}"
            class="block text-center text-lg uppercase py-2 {% if entry.url == page.url or entry.title | lower in page.url %}
            text-primary{% else %}
            text-gray-800 dark:text-gray-200 hover:text-black dark:hover:text-white{% endif %}"
            {% if entry.url == page.url or entry.title | lower in page.url %}
            aria-current="page"
            {% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</header>