<header class="py-4 ~px-4/8 fixed flex w-full bg-black/50 z-50">
  <div class="container m-auto flex justify-between items-center gap-8">
    <!-- LOGO -->
    <a href="/">
      <img
        class="~h-5/6 w-auto"
        src="/assets/svgs/senoweb-logo-white.svg"
        alt="Senoweb logo"
        width="170"
        height="24"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false">
    </a>

    <!-- NAVIGATION -->
    <nav class="max-lg:hidden max-lg:group-[.mobile-menu]/body:block max-lg:absolute max-lg:top-[calc(100%+0.5rem)] max-lg:left-1/2 max-lg:-translate-x-1/2
      max-lg:w-[calc(100vw-2rem)] max-lg:p-4 max-lg:bg-black max-lg:rounded-lg">
      <ul class="flex max-lg:flex-col ~gap-2/8">
        {% set navPages = collections.all | eleventyNavigation %}

        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
        {% for entry in navPages %}

          {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
          {% set hasChild = entry.children.length %}

          <li
            class="group/li inline-flex {% if hasChild -%} dropdown {%- endif %}"
            {%- if hasChild -%}tabindex="0"{%- endif -%}
          >

            {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
            {% if hasChild %}
              {# Render the <button> with the active class, dropdown icon and child links #}
              <button
                class="dropdown-button"
                aria-expanded="false"
                aria-controls="dropdown-{{ entry.key | slug }}"
                aria-label="dropdown-{{ entry.key | slug }}"
                type="button"
              >
                <span>{{ entry.key }}</span>

                <!-- ICON -->
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="mt-0.5" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </button>

              {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
              <div>
                <ul id="dropdown-{{ entry.key | slug }}">
                  {% for child in entry.children %}
                    <li class="drop-li">
                      <a
                          href="{{ child.url }}"
                          class="li-link inline-flex whitespace-nowrap ~p-1.5/4 ~text-sm/base
                          {%- if child.url == page.url %} text-white
                          {%- else %} text-gray-200 hover:text-white{% endif %}"
                          {%- if child.url == page.url -%}aria-current="page"{%- endif -%}
                        >
                        {{ child.key }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
              <a
                class="w-full ~p-1.5/4 whitespace-nowrap transition-colors duration-300 max-lg:pl-4 max-lg:border-l-4 max-lg:rounded-r-md
                {%- if entry.url == page.url %} text-primary font-semibold max-lg:border-l-primary max-lg:bg-primary/10
                {%- else %} text-gray-200 hover:text-white{% endif %}"
                href="{{ entry.url }}"
                {%- if entry.url == page.url -%}aria-current="page"{%- endif -%}>
                {{ entry.key }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    <!-- DARKMODE + CTA -->
    <div class="flex items-center gap-2 lg:gap-4">
      <!-- DARKMODE BUTTON -->
      <label for="dark-mode-toggle" class="darkmode-container">
        <span class="sr-only">Přepínač tmavého režimu</span>
        <input id="dark-mode-toggle" type="checkbox">
        <span class="planet"></span>
        <span class="elements">
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <circle
            cx="250"
            cy="250"
            r="200"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <circle
            cx="250"
            cy="250"
            r="200"/>
          </svg>
          <svg
            version="1.1"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg">
            <circle
            cx="250"
            cy="250"
            r="200"/>
          </svg>
        </span>
      </label>

      <!-- CTA -->
      <a href="/kontakt" class="btn max-lg:hidden">Kontakt</a>

      <!-- MOBILE MENU BUTTON -->
      <button
        id="mobile-menu-toggle"
        class="group lg:hidden flex justify-center items-center gap-1 h-11 w-11 bg-secondary rounded-xl transition-transform duration-300 [&.active]:rotate-90"
        type="button"
        aria-expanded="false"
      >
        <span class="sr-only">Otevřít navigaci</span>
        <span class="relative block h-3.5 w-5">
          <span class="absolute top-0 block h-0.5 w-full bg-white rounded-full transition-transform duration-300 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
          <span class="absolute top-1/2 -translate-y-1/2 block h-0.5 w-full bg-white rounded-full transition-[opacity] duration-300 group-[.active]:opacity-0"></span>
          <span class="absolute bottom-0 block h-0.5 w-full bg-white rounded-full transition-transform duration-300 group-[.active]:rotate-[315deg] group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
        </span>
      </button>
    </div>
  </div>
</header>