<header class="py-6 ~px-4/8 fixed flex">
  <div class="container m-auto">

    <!-- DARKMODE BUTTON -->
    <label for="dark-mode-toggle" class="darkmode-container">
      <span class="sr-only">Přepínač tmavého režimu</span>
      <input id="dark-mode-toggle" type="checkbox">
      <span class="planet"></span>
      <span class="elements">
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="250,60 100,400 400,400"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="250"
            cy="250"
            r="200"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="250"
            cy="250"
            r="200"/>
        </svg>
        <svg
          version="1.1"
          viewBox="0 0 500 500"
          xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="250"
            cy="250"
            r="200"/>
        </svg>
      </div>
    </header>