<!-- LANDING -->
<section class="relative ~px-4/8 pt-60 pb-16 bg-gray-900 dark:bg-gray-950 z-10">
  <div class="container m-auto flex flex-col items-start gap-6">
    <div class="flex flex-col gap-1">
      <span class="relative text-primary font-medium
      before:absolute before:top-1/2 before:-translate-y-1/2 before:right-[calc(100%+0.25rem)] lg:before:right-[calc(100%+1rem)] before:h-px before:w-[10vw] before:bg-primary">BV Speed</span>
      <h1 class="text-white text-4xl font-semibold leading-none">
        {{ title }}
      </h1>
    </div>
    <div class="flex items-center gap-4 *:font-work-sans *:text-sm">
      <a class="text-gray-300 hover:text-white" href="/">Domů</a>
      <span class="text-gray-300">/</span>
      <a class="text-white" href="#">{{ title }}</a>
    </div>
  </div>

  <!-- BACKGROUND -->
  <img class="absolute top-0 left-0 h-full w-full object-cover opacity-20 -z-10" src="/assets/svgs/landing/landing_background.svg" alt="Pozadí sekce CTA" decoding="async" loading="lazy" width="1920" height="24" draggable="false"/>
</section>