---
title: 'Kontakt'
description: 'Máte nějaké dotazy? Máte zájem o cenovou nabídku nebo konzultaci? Neváhejte se nám ozvat.'
permalink: 'kontakt/'
eleventyNavigation:
  key: Kontakt
  order: 400
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <!-- CONTACT -->
  <section class="py-24 ~px-4/8">
    <div class="container m-auto"></div>
  </section>

{% endblock body %}