---
title: 'O nás'
description: 'Již více než 5 let poskytujeme kvalitní dopravní a spediční služby z našeho sídla v České Třebové.'
permalink: 'o-nas/'
eleventyNavigation:
  key: O nás
  order: 200
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <section class="py-24 ~px-4/8">
    <div class="container m-auto"></div>
  </section>

  {% include "components/cta.njk" %}
{% endblock body %}