{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- ABOUT -->
    <section class="py-24 ~px-4/8">
        <div class="container m-auto"></div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}