{% extends "layouts/base.njk" %}

{% block head %}
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Netlify Identity configuration -->
    <script defer src="/assets/js/identity.js"></script>

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    {% include "components/home-schema.njk" %}
{% endblock %}

{% block body %}
    <!-- SECTION -->
    <section class="fl-py-16/24 fl-px-4/8 bg-white dark:bg-black">
        <div class="container m-auto">
            <picture>
                <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/senoweb_og_logo.png' | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/senoweb_og_logo.png' | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/senoweb_og_logo.png' | jpeg %}" type="image/jpeg">
                <img src="{% getUrl '/assets/images/senoweb_og_logo.png' | jpeg %}" alt="" width="" height="" loading="lazy" decoding="async" aria-hidden="true" draggable="false">
            </picture>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}