{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- GDPR -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-stone-950">
        <div class="container m-auto flex flex-col gap-8">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-start gap-2">
                <span class="topper">{{ contentOne.topper }}</span>
                <h2 class="~text-3xl/4xl text-black dark:text-white font-bold !leading-[1.1] uppercase">{{ contentOne.heading }}</h2>
            </div>

            <div class="max-w-[75ch]">
                {% for item in contentOne.items %}
                    <div class="mb-6">
                        {% if item.heading %}
                            <h3 class="dark:text-white ~text-xl/2xl font-semibold mb-4">{{ item.heading }}</h3>
                        {% endif -%}

                        {%- if item.text %}
                            <p class="~text-sm/base text-gray-800 dark:text-gray-200 mb-2">{{ item.text }}</p>
                        {% endif -%}

                        {%- if item.subitems %}
                            <ul class="list-disc max-w-2xl space-y-1 ml-8">
                                {% for subitem in item.subitems %}
                                    <li class="font-work-sans text-gray-800 dark:text-gray-200">{{ subitem.text }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock body %}