{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- CONTACT -->
    <section class="fl-py-16/24 fl-px-4/8">
        <div class="container m-auto"></div>
    </section>
{% endblock body %}