<!DOCTYPE html>
<html lang="cs" class="scroll-smooth">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">

        <!-- Ensures the viewport widths are defined correctly and work on all devices (esp. mobile) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        <!-- Disable indexing for this page -->
        <meta name="robots" content="noindex, nofollow">

        <!-- Main stylesheet -->
        <link rel="stylesheet" href="/assets/css/main.css">

        <title>Děkujeme za odeslání formuláře | {{ client.name }}</title>
    </head>

    <body>
        <!-- FORM SUCCESS MESSAGE -->
        <section class="relative py-24 ~px-4/8 bg-neutral-950 h-screen w-screen">
            <div class="container m-auto flex justify-center items-center h-full">
                <div class=" p-8 bg-white rounded-xl">
                    <h1 class="text-xl text-neutral-950 font-semibold">Děkujeme!</h1>
                    <p class="mt-2 mb-6 text-neutral-800">Vaše zpráva byla v pořádku odeslána.</p>
                    <a id="back-link" href="" class="group flex items-center gap-1 text-rose-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path class="transition-[opacity,transform] duration-300 group-hover:opacity-0 group-hover:-translate-x-1" fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            <path class="transition-[opacity,transform] duration-300 group-hover:-translate-x-1" fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                        <p class="font-medium group-hover:underline">Zpět na náš web</p>
                    </a>
                </div>
            </div>

            <!-- CREDIT -->
            <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex items-end gap-2">
                <p class="-mb-px text-sm text-neutral-300 leading-none">powered by</p>
                <a aria-label="Kliknutím přejdete stránku www.senoweb.cz" href="https://www.senoweb.cz/" target="_blank">
                    <img class="h-4 w-auto" decoding="async" loading="eager" src="https://www.senoweb.cz/assets/svgs/senoweb_logo_white.svg" alt="Senoweb bílé logo" width="170" height="24">
                </a>
            </div>

            <script>
                (function () {
                    if (document.referrer && document.location.host && document.referrer.match(new RegExp("^https?://" + document.location.host))) {
                        document
                            .getElementById("back-link")
                            .setAttribute("href", document.referrer);
                    }
                })();
            </script>
        </section>
    </body>
</html>